    {% extends "base.html" %}
    {% block heading %}Python Project{% endblock %}
    {% block subheading %}A Blog Theme by Start Bootstrap{% endblock %}
    {% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="box">
                    <div class="container">

                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <p class=flashes>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            </p>
                        {% endif %}
                      {% endwith %}

                      <h1 class="title">Welcome, {{ name }}!</h1>
                      <a href="{{ url_for('download') }}">Download Your File</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}